<script src="https://unpkg.com/redux@3.6.0/dist/redux.min.js"></script>

<script>
  function reducer(state, action) {
    switch(action.type) {
        case 'INCREMENT':
          state++;
          break;
        case '@@redux/INIT':
          // pass
        default:
          console.log(action.type);
    }
    return state;
  }

  var preloadedState = 0;
  var store = Redux.createStore(reducer, preloadedState);

  store.subscribe(function() {
    console.log(store.getState());
  })

  var action = { type: 'INCREMENT' };

  for (var i = 0; i < 10; i++) { 
    store.dispatch(action);
  }
</script>

<!--

This prints...

  @@redux/INIT
  1
  2
  3
  4
  5
  6
  7
  8
  9
  10

-->
