<script src="https://unpkg.com/redux@3.6.0/dist/redux.min.js"></script>
<script src="https://unpkg.com/axios@0.14.0/dist/axios.min.js"></script>

<script>
  function printDebugMessage(i) {
    setTimeout(function() {
      console.log('007-a-00' + i);
      if (i < 9) {
        printDebugMessage(i + 1);
      }
    }, 1);
  }

  function reducer(state, action) {
    switch(action.type) {
        case 'GET':
          console.log('003');
          state = axios.get('/hello.json');
          console.log('004');
          break;
        case '@@redux/INIT':
          // pass
        default:
          console.log('001', action.type);
    }
    return state;
  }

  var store = Redux.createStore(reducer);

  store.subscribe(function() {
    console.log('005');
    store.getState()
      .then(function (response) {
        console.log('007-b-001');
        console.log(response.data.message);
        console.log('007-b-002');
      });
  })

  printDebugMessage(0);

  console.log('002');
  var action = { type: 'GET' }
  store.dispatch(action);
  console.log('006');

</script>

<!--
This prints...

  001 @@redux/INIT
  002
  003
  004
  005
  006
  007-a-000
  007-a-001
  007-a-002
  007-a-003
  007-b-001
  hello world
  007-b-002
  007-a-004
  007-a-005
  007-a-006
  007-a-007
  007-a-008
  007-a-009
-->
