<script src="https://unpkg.com/redux@3.6.0/dist/redux.min.js"></script>
<script src="https://unpkg.com/jquery@3.1.1/dist/jquery.min.js"></script>

<script>

  var AJAX_DONE_ACTION = 'AJAX_DONE';
  var HELLO_JSON_URL = '/hello.json';

  function ajax_done_dispatcher(url, store) {
    $.ajax(url).done(function(data) {
      var action = { type: AJAX_DONE_ACTION, url: url, data: data };
      store.dispatch(action);
    });
  }

  function ajax_done_reducer(state, action) {
    switch(action.url) {
        case HELLO_JSON_URL:
          state = action.data.message;
          break;
        default:
          console.log(url);
    }
    return state;
  }

  function reducer(state, action) {
    switch(action.type) {
        case AJAX_DONE_ACTION:
          state = ajax_done_reducer(state, action);
          break;
        case '@@redux/INIT':
          // pass
        default:
          console.log(action.type);
    }
    return state;
  }

  var store = Redux.createStore(reducer);

  store.subscribe(function() {
    console.log(store.getState());
  });

  ajax_done_dispatcher(HELLO_JSON_URL, store);

</script>

<!--
This prints...

  @@redux/INIT
  hello world
 -->
