<script src="https://unpkg.com/redux@3.6.0/dist/redux.js"></script>
<script src="https://unpkg.com/whatwg-fetch@1.0.0"></script>

<script>
  function fetchAndDispatch(url, actionType, store) {
    fetch(url, {}).then(function(response) {
      response.json().then(function(payload) {
        store.dispatch({type: actionType, payload: payload});
      })
    }, function(error) {
        store.dispatch({type: actionType, payload: error, error: true});
    })
  }

  function messageReducer(state, action) {
    switch(action.type) {
        case 'GET_MESSAGE':
          if (action.error) {
            console.log('error: get message:', action.payload);
          } else {
            state = action.payload.message;
          }
          break;
        default:
          console.log(action.type);
          if (typeof state === 'undefined') {
            state = '';
          }
    }
    return state;
  }

  function logMiddleware(store) {return function(next) {return function(action) {
        console.log('log middleware:', action);
        return next(action);
  }}}

  var reducer = Redux.combineReducers({ message: messageReducer });
  var enhancer = Redux.applyMiddleware(logMiddleware);
  var store = Redux.createStore(reducer, enhancer);
  store.subscribe(function() { console.log(store.getState()) });
  fetchAndDispatch('/hello.json', 'GET_MESSAGE', store);
</script>

<!--
This prints...

  @@redux/INIT
  @@redux/PROBE_UNKNOWN_ACTION_v.b.t.p.d.e.7.1.4.q.8.r.s.s.t.a.q.n.c.d.i
  @@redux/INIT
  log middleware: Object {type: "GET_MESSAGE", payload: Object}
  Object {message: "hello world"}
-->
